/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000a2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(42, 50, 72);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 68, 99);
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }

  .svg-icon path:hover{
    fill: #ffffffa8;
  }

  .svg-icon polygon:hover{
    fill: #ffffffa8;
  }

  .svg-icon rect:hover{
    fill: #ffffffa8;
  }

  a:hover{
    fill: #ffffffa8;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) 
  {
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #E0E0E0;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #E0E0E0;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) 
  {
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #E0E0E0;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #E0E0E0;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) 
  {
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #E0E0E0;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #E0E0E0;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #E0E0E0;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) 
  {
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #E0E0E0;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #E0E0E0;
    }

    .dcs_topMenu{
      position: static;
    background-color: #262626;
    width: 100%;
    height: 45px;
    box-shadow: 0 2px 2px 0px black;
    display: flex;
    }

    .dcs_searchInput{
      width: 46%;
    height: 32px;
    margin-left: 142px;
    margin-top: 7px;
    border: 0px;
    }
    .dcs_searchButton{
      border: 0px;
      margin-top: 7px;
      height: 34px;
      width: 72px;
      background-color: #e5e5e5;
      cursor: pointer;
    }

    .dcs_loginSing{
      color: white;
      font-family: sans-serif;
      margin-top: 15px;
      margin-left: 11%;
      cursor: pointer;
    }

    /*main content body*/
    .dcs_contenteMain{
      background-color: #B7B7B7;
    position: absolute;
    margin-left: 24%;
    margin-top: 24px;
    width: 50.5%;
    height: 100%;
    margin-bottom: 0px;
    border: 0px;
    padding: 0px;
    }

    .dcs_contenteRight{
      background-color: #B7B7B7;
    position: absolute;
    margin-left: 75%;
    margin-top: 24px;
    width: 16.5%;
    height: 79%;
    }

    .dcs_contenteLeft{
      background-color: #B7B7B7;
      position: absolute;
      margin-left: 10%;
      margin-top: 24px;
      width: 13.5%;
      height: 73%;
    }

    .dcs_footRight{
      background-color: #B7B7B7;
      position: absolute;
      margin-left: 75%;
      margin-top: 40.3%;
      width: 16.5%;
      height: 19%;
    }
  }