/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0000002b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36);
  }

  .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }

  .svg-icon path:hover{
    fill: #ffffffa8;
  }

  .svg-icon polygon:hover{
    fill: #ffffffa8;
  }

  .svg-icon rect:hover{
    fill: #ffffffa8;
  }

  a:hover{
    fill: #ffffffa8;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body
  {
      margin: 0px;
      border: 0px;
      padding: 0px;
      background-color: yellow;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body
  {
      margin: 0px;
      border: 0px;
      padding: 0px;
      background-color: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body
  {
      margin: 0px;
      border: 0px;
      padding: 0px;
      background-color: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body
  {
      margin: 0px;
      border: 0px;
      padding: 0px;
      background-color: red;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #6d6d6d;
    }

    .loader {
      border: 16px solid #f3f3f3;
    border-top: 16px solid #1396ed;
    border-radius: 50%;
    border-width: 5px;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-top: 25%;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    /*TopMenu*/
    .dcs_topMenu{
      position: fixed;
    background-color: #262626;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 2px 0px #00000045;
    z-index: 100;
    }

    .dcs_loginBox{
      width: 19%;
    height: fit-content;
    background-color: #dbdbdb;
    margin-left: 76%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    border: #bbbbbb;
    border-style: solid;
    border-width: 2px;
    }

  .dcs_userMenu{
    width: 100%;
    margin-top: 1650px;
    height: 338px;
    margin: 0px;
  }

.dcs_userMenuBInside{
  width: 77%;
  margin-left: 23px;
}

.dcs_userMenuBIText{
  margin-left: 8px;
}
  
  .dcs_userMenuButton{
    width: 98%;
    margin-top: 2px;
    margin-left: 3px;
    height: 45px;
    cursor: pointer;
    border-radius: 4px;
    border: #b7b7b7;
    background-color: #dbdbdb;
    text-align: start;
  }
  .dcs_userMenuButton:hover{
    background-color: #d1d1d1;
    outline: 0;
  }

  .dcs_userMenuButton:focus{
    outline: 0;
  }

  .dcs_userMenuButton:active{
    background-color: #929292;
    outline: 0;
  }

    .dcs_logo{
      width: 237px;
    height: 44px;
    display: block;
    }

    .dcs_searchInputDiv{
      width: 46.3%;
    height: 55%;
    border: 0px;
    transform: translate(0, -29px);
    margin-left: 24%;
    padding: 0px;
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    }

    .dcs_inputSearch{
      width: 99.2%;
      height: 100%;
      border: 0px;
      margin-left: 5px;
      padding: 0px;
      background-color: #ffffff00;
      font-family: 'Roboto','Noto',sans-serif;
    }

    .dcs_inputSearch:focus{
      outline: 0px;
    }

    .dcs_searchButton{
      height: 100%;
      width: 72px;
      cursor: pointer;
      transform: translate(0, -100%);
      margin-left: 100%;
      border: 0;
      border-style: none;
      padding: 0;
      border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    }

    .dcs_searchButton:focus{
      outline: 0px;
      background-color: #dadada;
    }

    .dcs_loginSing{
      color: white;
    font-family: sans-serif;
    cursor: pointer;
    width: 100%;
    position: absolute;
    text-align: center;
    transform: translate(0px, 13px);
    }
    .dcs_loginSingImg{
      cursor: pointer;
      border-radius: 50%;
      width: 41px;
    }

    .dcs_createButton{
      height: 78%;
      width: 46%;
      position: absolute;
      border: 0;
      background-color: #ffffff0d;
      color: white;
      margin-left: 13%;
      transform: translate(0px, 5px);
    }

    .dcs_loginSingImg:hover{
      opacity: 70%;
    }

    .dcs_loginSingImg:active{
      opacity: 50%;
    }

    .dcs_loginDiv{
      transform: translate(644%, -67px);
      width: 12%;
      display: flex;
    }
    /*End topmenu*/

    /*main content body*/
    .dcs_contenteMain{
      background-color: #B7B7B7;
      position: absolute;
      margin-left: 24%;
      margin-top: 77px;
      width: 50.5%;
      height: auto;
      margin-bottom: 0px;
      border-style: solid;
      border-color: #a3a3a3;
      padding: 0px;
      border-radius: 4px;
      border-width: 2px;
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(138px, auto);
      row-gap: 3px;
      column-gap: 0px;
      box-shadow: 0 1px 4px #0000006b;
    }

    .dcs_contentItemDiv{
      background-color: #0000001c;
      margin-top: 4px;
      margin-left: 4px;
      border-radius: 2px;
      width: 95%;
      cursor: pointer;
      height: 97%;
    }

    .dcs_contentItemDiv:hover{
      background-color:#00000059
    }

    .dcs_contenteIDFImg{
      width: 100%;
    height: 100%;
    }
    
    .dcs_contentIDFoot{
      height: 26px;
    background-color: #00000026;
    transform: translate(0, -30px);
    }

    .dcs_contenteIDFText{
      margin-top: 3px;
    margin-left: 6px;
    position: absolute;
    color: #ffffffe3;
    font-family: Roboto, Arial, sans-serif;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 12px;
    font-weight: 500;
    line-height: 11px;
    width: 95%;
    word-break: break-all;
    }

    .dcs_contenteRight{
      background-color: #B7B7B7;
      position: absolute;
      margin-left: 75%;
      margin-top: 77px;
      width: 16.5%;
      height: 79%;
      border-style: solid;
      border-color: #a3a3a3;
      padding: 0px;
      border-radius: 4px;
      border-width: 2px;
      box-shadow: 0 1px 4px #0000006b;
    }

    .dcs_contenteLeft{
      background-color: #B7B7B7;
      position: absolute;
      margin-left: 10%;
      margin-top: 77px;
      width: 13.5%;
      height: 73%;
      border-style: solid;
      border-color: #a3a3a3;
    padding: 0px;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: 0 1px 4px #0000006b;
    }

    .dcs_footRight{
      background-color: #B7B7B7;
    margin-top: 234%;
    width: 100%;
    height: 21%;
    border-style: solid;
    border-color: #a3a3a3;
    border-radius: 4px;
    border-width: 2px;
    padding: 0px;
    transform: translate(-2px,0);
    box-shadow: 0 1px 4px #0000006b;
    }
    /*end main content body*/

    /*foot box*/
    .dcs_dcsRights{
      color: #2c2c2c;
    font-family: monospace;
    font-size: 11px;
    margin: 0px;
    text-align: center;
    font-weight: 400;
    }
    .dcs_madeRights{
      color: #2c2c2c;
      font-family: monospace;
      font-size: 11px;
      margin-top: 36%;
      margin-bottom: 0px;
      text-align: center;
      font-weight: 400;
    }
    /*end foot box*/
}