/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000a2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(42, 50, 72);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 68, 99);
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) 
  {
    .svg-icon {
      width: 1em;
      height: 1em;
    }
    
    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: #ffffff;
    }
  
    .svg-icon path:hover{
      fill: #ffffffa8;
    }
  
    .svg-icon polygon:hover{
      fill: #ffffffa8;
    }
  
    .svg-icon rect:hover{
      fill: #ffffffa8;
    }
  
    a:hover{
      fill: #ffffffa8;
    }
    
    .svg-icon circle {
      stroke: #ffffff;
      stroke-width: 1;
    }
  
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #2d4255;
      }
      
      .layout-zero{
          margin: 0px;
          border: 0px;
          padding: 0px;
      }
      
      .header-site
      {
          position: fixed;
          background-color: #00000038;
          width: 100%;
      }
      
      .logo-img{
          width: 80%;
      }
  
      .link-logo{
        width: 28%;
        padding-top: 10px;
        padding-left: 3%;
        display: block;
        padding-bottom: 7px;
      }
  
      .background-img{
          border: 0px;
          padding: 0px;
          width: 100%;
      }
      
      .rights-footer{
          text-align: center;
          margin: 0px;
          border: 0px;
          padding-top: 21px;
          color: #ffffffad;
          font-family: 'Gothic A1', sans-serif;
          font-size: 88%;
      }
  
  .topmenu{
    display: block;
    position: absolute;
    margin-top: 2.2%;
    margin-left: 26%;
  }
  
  .topmenu-button:hover {
      background-color: yellow;
    }
  
      .butt-head{
        position: relative;
        margin-left: 7px;
        border: 10px;
        color: #ffffff;
        font-family: 'Gothic A1', sans-serif;
        font-size: 70%;
        text-decoration: none;
      }
    

      .content-view{
          height: 600px;
          width: 100%;
          position: relative;
          background-color: #272f4c;
          margin-top: -4px;
          border: 0px;
          padding: 0px;
      }
      
      .content-aling{
          padding-top: 5%;
          padding-right: initial;
          padding-bottom: 5%;
          padding-left: 17%;
          margin: 0px;
          border: 0px;
      }
      
      .footer{
          height: 100px;
          width: 100%;
          position: relative;
          background-color: #232a44;
          margin-top: -4px;
          border: 0px;
          padding: 0px;
      }
  
       .butt-footer{
          position: relative;
          text-align: center;
          display: block;
          color: #ffffffad;
          font-family: 'Gothic A1', sans-serif;
      }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #2d4255;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) 
  {
    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #2d4255;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) 
  {
    .svg-icon {
      width: 1em;
      height: 1em;
    }
    
    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: #ffffff;
    }
  
    .svg-icon path:hover{
      fill: #ffffffa8;
    }
  
    .svg-icon polygon:hover{
      fill: #ffffffa8;
    }
  
    .svg-icon rect:hover{
      fill: #ffffffa8;
    }
  
    a:hover{
      fill: #ffffffa8;
    }
    
    .svg-icon circle {
      stroke: #ffffff;
      stroke-width: 1;
    }
  
      body
      {
          margin: 0px;
          border: 0px;
          padding: 0px;
          background-color: #2d4255;
      }
      
      .layout-zero{
          margin: 0px;
          border: 0px;
          padding: 0px;
      }
      
      .header-site
      {
          position: fixed;
          background-color: #00000038;
          width: 100%;
      }
      
      .logo-img{
          width: 80%;
      }
  
      .link-logo{
          width: 13%;
      padding-top: 7px;
      padding-left: 12%;
      display: block;
      padding-bottom: 7px;
      }
  
      .background-img{
          border: 0px;
          padding: 0px;
          width: 100%;
      }
      
      .rights-footer{
          text-align: center;
          margin: 0px;
          border: 0px;
          padding-top: 21px;
          color: #ffffffad;
          font-family: 'Gothic A1', sans-serif;
          font-size: 88%;
      }
  
  .topmenu{
          display: block;
      position: absolute;
      margin-top: 1.2%;
      margin-left: 36%;
      margin-bottom: 1.1%;
  }
  
  .topmenu-button:hover {
      background-color: yellow;
    }
  
    .social-button{
      margin-left: 195px;
    }
  
      .butt-head{
          position: relative;
      margin-left: 23px;
      border: 10px;
      color: #ffffff;
      font-family: 'Gothic A1', sans-serif;
      font-size: 115%;
      text-decoration: none;
      }
      
      .content-view{
          height: 600px;
          width: 100%;
          position: relative;
          background-color: #272f4c;
          margin-top: -4px;
          border: 0px;
          padding: 0px;
      }
      
      .content-aling{
          padding-top: 5%;
          padding-right: initial;
          padding-bottom: 5%;
          padding-left: 17%;
          margin: 0px;
          border: 0px;
      }
      
      .footer{
          height: 100px;
          width: 100%;
          position: relative;
          background-color: #232a44;
          margin-top: -4px;
          border: 0px;
          padding: 0px;
      }
  
       .butt-footer{
          position: relative;
          text-align: center;
          display: block;
          color: #ffffffad;
          font-family: 'Gothic A1', sans-serif;
      }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) 
  {
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }

  .svg-icon path:hover{
    fill: #ffffffa8;
  }

  .svg-icon polygon:hover{
    fill: #ffffffa8;
  }

  .svg-icon rect:hover{
    fill: #ffffffa8;
  }

  a:hover{
    fill: #ffffffa8;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }

    body
    {
        margin: 0px;
        border: 0px;
        padding: 0px;
        background-color: #2d4255;
    }
    
    .layout-zero{
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    
    .TeamQuad
    {
    position: relative;
        width:20%;
        cursor: pointer;
	}

    .header-site
    {
        position: fixed;
        background-color: #00000038;
        width: 100%;
    }
    
    .logo-img{
        width: 80%;
    }

    .link-logo{
        width: 13%;
    padding-top: 7px;
    padding-left: 12%;
    display: block;
    padding-bottom: 7px;
    }

    .background-img{
        border: 0px;
        padding: 0px;
        width: 100%;
    }
    
    .rights-footer{
        text-align: center;
        margin: 0px;
        border: 0px;
        padding-top: 21px;
        color: #ffffffad;
        font-family: 'Gothic A1', sans-serif;
        font-size: 88%;
    }

.topmenu{
        display: block;
    position: absolute;
    margin-top: 1.2%;
    margin-left: 36%;
    margin-bottom: 1.1%;
}

.topmenu-button:hover {
    background-color: yellow;
  }

  .social-button{
    margin-left: 195px;
  }

    .butt-head{
        position: relative;
    /*margin-left: 23px;*/
    border: 10px;
    color: #ffffff;
    font-family: 'Gothic A1', sans-serif;
    font-size: 115%;
    text-decoration: none;
    }
    
    .content-view{
        height: 600px;
        width: 100%;
        position: relative;
        background-color: #272f4c;
        margin-top: -4px;
        border: 0px;
        padding: 0px;
    }
    
    .content-aling{
        padding-top: 5%;
        padding-right: initial;
        padding-bottom: 5%;
        padding-left: 17%;
        margin: 0px;
        border: 0px;
    }
    
    .footer{
        height: 100px;
        width: 100%;
        position: relative;
        background-color: #232a44;
        margin-top: -4px;
        border: 0px;
        padding: 0px;
    }

     .butt-footer{
        position: relative;
        text-align: center;
        display: block;
        color: #ffffffad;
        font-family: 'Gothic A1', sans-serif;
    }
  }